<div class="mx-auto shadow p-3 w-50">
    <form method="post" action="/pessoa/salvar">
        <fieldset>
            <legend>Cadastro de Pessoas</legend>
            <label>NOME</label>
            <input class="form-control" type="text" name="nome" required>
            <label>TELEFONE</label>
            <input class="form-control" type="text" name="telefone" required>
            <label>E-MAIL</label>
            <input class="form-control" type="text" name="email" required>
            <label>CPF</label>
            <input class="form-control" type="text" name="cpf" required>
            <button class="btn btn-sucess mt-2" type="submit" >SALVAR</button>
        </fieldset>
    </form>
</div>